# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
dist/

# Virtual Environment
venv/
env/
.env

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebooks
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store